<h2>Olá {{ name }}</h2>

<p>
  Voce foi atribuido a Matricula: <b>{{ title }}</b><br>
  Com a Data de termino para: <b>{{ end }}</b><br />
  Total: <b>R${{ price }}</b><br />
</p>

<h3>A é claro, Seja Bem-Vindo(a), Estamos muito ansiosos pela sua primeira aula </h3>